Repository mshdabiola/Kmtemplate: changes, and which Codecov flags are due for each by the changed paths.
All: common, jvm, android, wasm, feature, benchmarks

Refactor: Update coverage range in `codecov.yml` from "60...100" to "60...75"
  codecov.yml
Due: none

Refactor: Simplify WasmJs browser configuration in KotlinAndroid convention plugin
  build-logic/convention/src/main/kotlin/com/mshdabiola/app/KotlinAndroid.kt
Due: none

Refactor: Update "Report an Issue" to "Report bug" and fix typo
  feature/setting/src/commonMain/composeResources/values-de/strings_settings.xml
  feature/setting/src/commonMain/composeResources/values-es/strings_settings.xml
  feature/setting/src/commonMain/composeResources/values-fi/strings_settings.xml
  feature/setting/src/commonMain/composeResources/values-fr/strings_settings.xml
  feature/setting/src/commonMain/composeResources/values-it/strings_settings.xml
  feature/setting/src/commonMain/composeResources/values-pl/strings_settings.xml
  feature/setting/src/commonMain/composeResources/values-pt/strings_settings.xml
  feature/setting/src/commonMain/composeResources/values-ru/strings_settings.xml
  feature/setting/src/commonMain/composeResources/values-tr/strings_settings.xml
  feature/setting/src/commonMain/composeResources/values-vi/strings_settings.xml
  feature/setting/src/commonMain/composeResources/values/strings_settings.xml
Due: feature

Feat: Add update icon
  core/designsystem/src/commonMain/kotlin/com/mshdabiola/designsystem/drawable/KmtIcons.kt
Due: none

Refactor: Update strings for "Check for updates" and fix typo
  feature/setting/src/commonMain/composeResources/values-pl/strings_settings.xml
  feature/setting/src/commonMain/composeResources/values-pt/strings_settings.xml
  feature/setting/src/commonMain/composeResources/values-ru/strings_settings.xml
  feature/setting/src/commonMain/composeResources/values-tr/strings_settings.xml
  feature/setting/src/commonMain/composeResources/values-vi/strings_settings.xml
Due: feature

Feat: Implement update check functionality in SettingViewModel
  feature/setting/src/commonMain/kotlin/com/mshdabiola/setting/SettingState.kt
  feature/setting/src/commonMain/kotlin/com/mshdabiola/setting/SettingViewModel.kt
  feature/setting/src/jvmTest/kotlin/com/mshdabiola/setting/SettingViewModelTest.kt
Due: feature

Chore: Remove AndroidTest and add Desktop and Wasm builds to CI
  .github/workflows/Build.yaml
Due: none

Refactor: Update SettingState to use UserSettings
  feature/setting/src/commonMain/kotlin/com/mshdabiola/setting/SettingDetailScreen.kt
  feature/setting/src/commonMain/kotlin/com/mshdabiola/setting/SettingScreen.kt
  feature/setting/src/jvmTest/kotlin/com/mshdabiola/setting/SettingDetailScreenTest.kt
  feature/setting/src/jvmTest/kotlin/com/mshdabiola/setting/SettingScreenTest.kt
Due: feature

Refactor: Use UserSettings in AppearanceScreen and tests
  feature/setting/src/commonMain/kotlin/com/mshdabiola/setting/detailscreen/AppearanceScreen.kt
  feature/setting/src/jvmTest/kotlin/com/mshdabiola/setting/AppearanceScreenTest.kt
Due: feature

Fix: Update Gradle task paths for WebAssembly builds in GitHub Actions
  .github/workflows/Build.yaml
  .github/workflows/PreRelease.yml
  .github/workflows/Release.yml
Due: none

add check update
  feature/setting/src/commonMain/composeResources/values-de/strings_settings.xml
  feature/setting/src/commonMain/composeResources/values-es/strings_settings.xml
  feature/setting/src/commonMain/composeResources/values-fi/strings_settings.xml
  feature/setting/src/commonMain/composeResources/values-fr/strings_settings.xml
  feature/setting/src/commonMain/composeResources/values-it/strings_settings.xml
  feature/setting/src/commonMain/composeResources/values/strings_settings.xml
Due: feature

Feat: Implement Update and Report Bug screens, integrate update dialog
  feature/setting/src/commonMain/kotlin/com/mshdabiola/setting/SettingDetailScreen.kt
  feature/setting/src/commonMain/kotlin/com/mshdabiola/setting/SettingListScreen.kt
  feature/setting/src/commonMain/kotlin/com/mshdabiola/setting/SettingScreen.kt
  feature/setting/src/commonMain/kotlin/com/mshdabiola/setting/SettingViewModel.kt
  feature/setting/src/commonMain/kotlin/com/mshdabiola/setting/detailscreen/ReportBugScreen.kt
  feature/setting/src/commonMain/kotlin/com/mshdabiola/setting/detailscreen/UpdateScreen.kt
  feature/setting/src/commonMain/kotlin/com/mshdabiola/setting/navigation/SettingNavigation.kt
Due: feature

Feat: Add test tags for ReportBugScreen and update FakeNetworkRepository
  core/model/src/commonMain/kotlin/com/mshdabiola/model/testtag/ReportBugScreenTestTags.kt
  core/testing/src/commonMain/kotlin/com/mshdabiola/testing/fake/repository/FakeNetworkRepository.kt
Due: common

Refactor: Improve KmtAppStateTest tests for drawer and navigation rail interactions
  app/src/jvmTest/kotlin/com/mshdabiola/kmtemplate/KmtAppStateTest.kt
Due: none

Feat: Add notification callback to detail and setting screens
  feature/detail/src/commonMain/kotlin/com/mshdabiola/detail/navigation/DetailNavigation.kt
  feature/setting/src/commonMain/kotlin/com/mshdabiola/setting/navigation/SettingNavigation.kt
Due: feature

Refactor: Code cleanup and formatting in UI and test files
  app/src/commonMain/kotlin/com/mshdabiola/kmtemplate/navigation/KmtAppNavHost.kt
  app/src/commonMain/kotlin/com/mshdabiola/kmtemplate/ui/KmtApp.kt
  app/src/commonMain/kotlin/com/mshdabiola/kmtemplate/ui/KmtAppState.kt
  app/src/commonMain/kotlin/com/mshdabiola/kmtemplate/ui/KmtScaffold.kt
  app/src/jvmTest/kotlin/com/mshdabiola/kmtemplate/KmtAppStateTest.kt
Due: common

Feat: Implement ExtendedColorScheme for contrast-aware theming
  core/designsystem/src/commonMain/kotlin/com/mshdabiola/designsystem/theme/Color.kt
  core/designsystem/src/commonMain/kotlin/com/mshdabiola/designsystem/theme/Theme.kt
Due: none

Refactor: Improve drawer handling in KmtAppState and KmtScaffold
  app/src/commonMain/kotlin/com/mshdabiola/kmtemplate/ui/KmtAppState.kt
  app/src/commonMain/kotlin/com/mshdabiola/kmtemplate/ui/KmtScaffold.kt
Due: common

Feat: Enhance Notification model with type and duration
  core/model/src/commonMain/kotlin/com/mshdabiola/model/Notification.kt
Due: common

Refactor: Update ReleaseInfo status and add tests for ReportBugScreen
  feature/setting/src/commonMain/kotlin/com/mshdabiola/setting/detailscreen/ReportBugScreen.kt
  feature/setting/src/jvmTest/kotlin/com/mshdabiola/setting/ReportBugScreenTest.kt
  feature/setting/src/jvmTest/kotlin/com/mshdabiola/setting/SettingDetailScreenTest.kt
  feature/setting/src/jvmTest/kotlin/com/mshdabiola/setting/SettingViewModelTest.kt
Due: feature

Refactor: Remove unused import in KotlinAndroid.kt
  build-logic/convention/src/main/kotlin/com/mshdabiola/app/KotlinAndroid.kt
Due: none

Refactor: Update Notification messages in SettingNavigation
  feature/setting/src/commonMain/kotlin/com/mshdabiola/setting/navigation/SettingNavigation.kt
Due: feature

Feat: Add confirmation dialog for note deletion
  feature/detail/src/commonMain/kotlin/com/mshdabiola/detail/navigation/DetailNavigation.kt
Due: feature

Refactor: Update drawer handling in KmtAppNavHost
  app/src/commonMain/kotlin/com/mshdabiola/kmtemplate/navigation/KmtAppNavHost.kt
Due: common

Feat: Show notification for update status
  feature/setting/src/commonMain/kotlin/com/mshdabiola/setting/navigation/SettingNavigation.kt
Due: feature

Refactor: Dismiss indefinite snackbar on back navigation
  app/src/commonMain/kotlin/com/mshdabiola/kmtemplate/navigation/KmtAppNavHost.kt
  app/src/commonMain/kotlin/com/mshdabiola/kmtemplate/ui/KmtAppState.kt
Due: common

Feat: Implement UI for Reporting Bugs and Checking Updates
  feature/setting/src/commonMain/kotlin/com/mshdabiola/setting/detailscreen/ReportBugScreen.kt
  feature/setting/src/commonMain/kotlin/com/mshdabiola/setting/detailscreen/UpdateScreen.kt
Due: feature

Refactor: Add license, format Notification.kt and update Color.kt
  core/designsystem/src/commonMain/kotlin/com/mshdabiola/designsystem/theme/Color.kt
  core/designsystem/src/commonMain/kotlin/com/mshdabiola/designsystem/theme/Theme.kt
  core/model/src/commonMain/kotlin/com/mshdabiola/model/Notification.kt
Due: common

Refactor: Update SettingNav.Issue to SettingNav.ReportBug in tests
  feature/setting/src/jvmTest/kotlin/com/mshdabiola/setting/SettingDetailScreenTest.kt
  feature/setting/src/jvmTest/kotlin/com/mshdabiola/setting/SettingListScreenTest.kt
  feature/setting/src/jvmTest/kotlin/com/mshdabiola/setting/SettingScreenTest.kt
Due: feature

Refactor: Cancel notification job on back navigation
  app/src/commonMain/kotlin/com/mshdabiola/kmtemplate/navigation/KmtAppNavHost.kt
Due: common

Feat: Add label parameter to TextField component
  core/designsystem/src/commonMain/kotlin/com/mshdabiola/designsystem/component/TextField.kt
Due: none

Feat: Implement notification handling using Snackbar
  app/src/commonMain/kotlin/com/mshdabiola/kmtemplate/navigation/KmtAppNavHost.kt
  app/src/commonMain/kotlin/com/mshdabiola/kmtemplate/ui/KmtApp.kt
  app/src/commonMain/kotlin/com/mshdabiola/kmtemplate/ui/KmtAppState.kt
  app/src/commonMain/kotlin/com/mshdabiola/kmtemplate/ui/KmtScaffold.kt
  core/model/src/commonMain/kotlin/com/mshdabiola/model/Notification.kt
Due: common

Feat: Implement customizable Snackbar with type and duration
  app/src/commonMain/kotlin/com/mshdabiola/kmtemplate/ui/KmtApp.kt
  app/src/commonMain/kotlin/com/mshdabiola/kmtemplate/ui/KmtAppState.kt
Due: common

Refactor: Clean up code and remove unused imports
  feature/detail/src/commonMain/kotlin/com/mshdabiola/detail/navigation/DetailNavigation.kt
  feature/setting/src/commonMain/kotlin/com/mshdabiola/setting/SettingDetailScreen.kt
  feature/setting/src/commonMain/kotlin/com/mshdabiola/setting/SettingListScreen.kt
  feature/setting/src/commonMain/kotlin/com/mshdabiola/setting/SettingScreen.kt
  feature/setting/src/commonMain/kotlin/com/mshdabiola/setting/SettingState.kt
  feature/setting/src/commonMain/kotlin/com/mshdabiola/setting/SettingViewModel.kt
  feature/setting/src/commonMain/kotlin/com/mshdabiola/setting/detailscreen/AppearanceScreen.kt
  feature/setting/src/commonMain/kotlin/com/mshdabiola/setting/detailscreen/ReportBugScreen.kt
  feature/setting/src/commonMain/kotlin/com/mshdabiola/setting/detailscreen/UpdateScreen.kt
  feature/setting/src/commonMain/kotlin/com/mshdabiola/setting/navigation/SettingNavigation.kt
  feature/setting/src/jvmTest/kotlin/com/mshdabiola/setting/AppearanceScreenTest.kt
  feature/setting/src/jvmTest/kotlin/com/mshdabiola/setting/SettingDetailScreenTest.kt
  feature/setting/src/jvmTest/kotlin/com/mshdabiola/setting/SettingScreenTest.kt
  feature/setting/src/jvmTest/kotlin/com/mshdabiola/setting/SettingViewModelTest.kt
Due: feature

Test: Update SettingNav.Issue to SettingNav.ReportBug in tests
  feature/setting/src/screenshotTest/kotlin/com/mshdabiola/setting/SettingDetailScreenScreenshotTests.kt
Due: feature

Refactor: Adjust spacing and update dialog behavior
  feature/setting/src/commonMain/kotlin/com/mshdabiola/setting/SettingListScreen.kt
  feature/setting/src/commonMain/kotlin/com/mshdabiola/setting/SettingScreen.kt
  feature/setting/src/commonMain/kotlin/com/mshdabiola/setting/navigation/SettingNavigation.kt
Due: feature

Refactor: Handle all ReleaseInfo states in KmtApp
  app/src/commonMain/kotlin/com/mshdabiola/kmtemplate/ui/KmtApp.kt
Due: common

Refactor: Localize update notification messages and add screen name
  feature/setting/src/commonMain/composeResources/values-de/strings_settings.xml
  feature/setting/src/commonMain/composeResources/values-es/strings_settings.xml
  feature/setting/src/commonMain/composeResources/values-fi/strings_settings.xml
  feature/setting/src/commonMain/composeResources/values-fr/strings_settings.xml
  feature/setting/src/commonMain/composeResources/values-it/strings_settings.xml
  feature/setting/src/commonMain/composeResources/values-pl/strings_settings.xml
  feature/setting/src/commonMain/composeResources/values-pt/strings_settings.xml
  feature/setting/src/commonMain/composeResources/values-ru/strings_settings.xml
  feature/setting/src/commonMain/composeResources/values-tr/strings_settings.xml
  feature/setting/src/commonMain/composeResources/values-vi/strings_settings.xml
  feature/setting/src/commonMain/composeResources/values/strings_settings.xml
  feature/setting/src/commonMain/kotlin/com/mshdabiola/setting/navigation/SettingNavigation.kt
Due: feature

Refactor: Update default values for update preferences
  core/datastore/src/commonMain/kotlin/com/mshdabiola/datastore/model/UserPreferences.kt
  core/model/src/commonMain/kotlin/com/mshdabiola/model/UserSettings.kt
Due: common, android

Feat: Add localized strings for "Report Bug" feature
  feature/setting/src/commonMain/composeResources/values-de/strings_settings.xml
  feature/setting/src/commonMain/composeResources/values-es/strings_settings.xml
  feature/setting/src/commonMain/composeResources/values-fi/strings_settings.xml
  feature/setting/src/commonMain/composeResources/values-fr/strings_settings.xml
  feature/setting/src/commonMain/composeResources/values-it/strings_settings.xml
  feature/setting/src/commonMain/composeResources/values-pl/strings_settings.xml
  feature/setting/src/commonMain/composeResources/values-pt/strings_settings.xml
  feature/setting/src/commonMain/composeResources/values-ru/strings_settings.xml
  feature/setting/src/commonMain/composeResources/values-tr/strings_settings.xml
  feature/setting/src/commonMain/composeResources/values-vi/strings_settings.xml
Due: feature

Path conditions:
  common: any of: app/src/commonMain/, core/model/src/
  jvm: any of: app/src/jvmMain/
  android: any of: app/src/androidMain/, core/data/src/, core/database/src/, core/datastore/src/
  wasm: any of: app/src/wasmJsMain/
  feature: any of: feature/
  benchmarks: any of: benchmarks/
