Repository mshdabiola/Kmtemplate: changes, and which Codecov flags are due for each by the changed paths.
All: common, jvm, android, wasm, feature, benchmarks

codecov.yml:

coverage:
  precision: 2
  round: down
  range: "60...100"
  status:
    project:
      default:
        target: auto
        threshold: 1%
        paths:
          - "app/"
          - "core/"
          - "feature/"
    patch:
      default:
        target: auto
        threshold: 1%

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: no

flags:
  common:
    paths:
      - app/src/commonMain/
      - core/model/src/
    carryforward: false
  jvm:
    paths:
      - app/src/jvmMain/
    carryforward: false
  android:
    paths:
      - app/src/androidMain/
      - core/data/src/
      - core/database/src/
      - core/datastore/src/
    carryforward: false
  wasm:
    paths:
      - app/src/wasmJsMain/
    carryforward: false
  feature:
    paths:
      - feature/
    carryforward: false
  benchmarks:
    paths:
      - benchmarks/
    carryforward: false

Refactor: Move SplashScreen to designsystem module
  app/src/jvmMain/kotlin/com/mshdabiola/kmtemplate/MainApp.kt
  app/src/jvmTest/kotlin/com/mshdabiola/kmtemplate/KmtAppTest.kt
  app/src/jvmTest/kotlin/com/mshdabiola/kmtemplate/SplashScreenTest.kt
  app/src/wasmJsMain/kotlin/com/mshdabiola/kmtemplate/Main.kt
  build-logic/convention/src/main/kotlin/KoverConventionPlugin.kt
  core/designsystem/src/commonMain/kotlin/com/mshdabiola/designsystem/component/SplashScreen.kt
Due: jvm, wasm

Refactor: Move SplashScreenTestTags to designsystem module
  app/src/jvmTest/kotlin/com/mshdabiola/kmtemplate/KmtAppTest.kt
  core/designsystem/src/commonMain/kotlin/com/mshdabiola/designsystem/component/SplashScreen.kt
  core/designsystem/src/commonMain/kotlin/com/mshdabiola/designsystem/component/SplashScreenTestTags.kt
Due: none

Update Build.yaml to run Codecov and Spotless on failure
  .github/workflows/Build.yaml
Due: none

🤖 Apply Spotless formatting
  app/src/jvmMain/kotlin/com/mshdabiola/kmtemplate/MainApp.kt
  app/src/jvmTest/kotlin/com/mshdabiola/kmtemplate/KmtAppTest.kt
  app/src/wasmJsMain/kotlin/com/mshdabiola/kmtemplate/Main.kt
Due: jvm, wasm

Refactor TextField and NoteCard content
  core/ui/src/commonMain/kotlin/com/mshdabiola/ui/NoteCard.kt
  feature/detail/src/commonMain/kotlin/com/mshdabiola/detail/DetailScreen.kt
  feature/detail/src/jvmTest/kotlin/com/mshdabiola/detail/DetailScreenTest.kt
Due: feature

🤖 Apply Spotless formatting
  core/ui/src/commonMain/kotlin/com/mshdabiola/ui/NoteCard.kt
  feature/detail/src/commonMain/kotlin/com/mshdabiola/detail/DetailScreen.kt
  feature/detail/src/jvmTest/kotlin/com/mshdabiola/detail/DetailScreenTest.kt
Due: feature

Refactor KmtButton and update ReportBugScreen
  core/designsystem/src/commonMain/kotlin/com/mshdabiola/designsystem/component/Button.kt
  core/ui/src/commonMain/kotlin/com/mshdabiola/ui/ReleaseUpdateDialog.kt
  feature/setting/src/commonMain/kotlin/com/mshdabiola/setting/detailscreen/ReportBugScreen.kt
Due: feature

🤖 Apply Spotless formatting
  core/designsystem/src/commonMain/kotlin/com/mshdabiola/designsystem/component/Button.kt
  feature/setting/src/commonMain/kotlin/com/mshdabiola/setting/detailscreen/ReportBugScreen.kt
Due: feature

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Use desktopCode for app version
  app/build.gradle.kts
  gradle/libs.versions.toml
Due: none

Add BuildConfig with version details
  core/model/src/commonMain/kotlin/com/mshdabiola/model/BuildConfig.kt
Due: common

feat: Add UpdateBuildVersionsTask
  build-logic/convention/src/main/kotlin/CiTaskPlugin.kt
  build-logic/convention/src/main/kotlin/com/mshdabiola/app/UpdateBuildVersionsTask.kt
Due: none

feat: Add task to update versions for pre-releases
  build-logic/convention/src/main/kotlin/CiTaskPlugin.kt
  build-logic/convention/src/main/kotlin/com/mshdabiola/app/UpdateBuildVersionsPreReleaseTask.kt
Due: none

Update `UpdateBuildVersionsTask` to handle version names
  build-logic/convention/src/main/kotlin/com/mshdabiola/app/UpdateBuildVersionsTask.kt
Due: none

Refactor: Improve version update logic in UpdateBuildVersionsTask
  build-logic/convention/src/main/kotlin/com/mshdabiola/app/UpdateBuildVersionsTask.kt
Due: none

Update REVISION_CODE in UpdateBuildVersionsTask
  build-logic/convention/src/main/kotlin/com/mshdabiola/app/UpdateBuildVersionsTask.kt
Due: none

feat: Add SetVersionTagTask to update version info
  build-logic/convention/src/main/kotlin/CiTaskPlugin.kt
  build-logic/convention/src/main/kotlin/com/mshdabiola/app/SetVersionTagTask.kt
Due: none

Refactor: Update AboutScreen to use BuildConfig and Platform for dynamic data
  feature/setting/src/commonMain/composeResources/values-de/strings_settings.xml
  feature/setting/src/commonMain/composeResources/values-es/strings_settings.xml
  feature/setting/src/commonMain/composeResources/values-fi/strings_settings.xml
  feature/setting/src/commonMain/composeResources/values-fr/strings_settings.xml
  feature/setting/src/commonMain/composeResources/values-it/strings_settings.xml
  feature/setting/src/commonMain/composeResources/values-pl/strings_settings.xml
  feature/setting/src/commonMain/composeResources/values-pt/strings_settings.xml
  feature/setting/src/commonMain/composeResources/values-ru/strings_settings.xml
  feature/setting/src/commonMain/composeResources/values-tr/strings_settings.xml
  feature/setting/src/commonMain/composeResources/values-vi/strings_settings.xml
  feature/setting/src/commonMain/composeResources/values/strings_settings.xml
  feature/setting/src/commonMain/kotlin/com/mshdabiola/setting/SettingDetailScreen.kt
  feature/setting/src/commonMain/kotlin/com/mshdabiola/setting/SettingState.kt
  feature/setting/src/commonMain/kotlin/com/mshdabiola/setting/SettingViewModel.kt
  feature/setting/src/commonMain/kotlin/com/mshdabiola/setting/detailscreen/AboutScreen.kt
  feature/setting/src/commonMain/kotlin/com/mshdabiola/setting/detailscreen/ReportBugScreen.kt
Due: feature

feat: Centralize build config and update Platform model
  core/designsystem/src/commonMain/composeResources/values/strings.xml
  core/designsystem/src/commonMain/kotlin/com/mshdabiola/designsystem/component/SplashScreen.kt
  core/designsystem/src/commonMain/kotlin/com/mshdabiola/designsystem/strings/KmtStrings.kt
  core/model/src/commonMain/kotlin/com/mshdabiola/model/BuildConfig.kt
  core/model/src/commonMain/kotlin/com/mshdabiola/model/Platform.kt
Due: common

Refactor: Use BuildConfig for app constants
  app/src/androidMain/kotlin/com/mshdabiola/kmtemplate/KmtApplication.kt
  app/src/androidMain/res/values/strings.xml
  app/src/jvmMain/kotlin/com/mshdabiola/kmtemplate/MainApp.kt
  app/src/jvmTest/kotlin/com/mshdabiola/kmtemplate/KmtAppTest.kt
  app/src/wasmJsMain/kotlin/com/mshdabiola/kmtemplate/Main.kt
Due: jvm, android, wasm

🤖 Apply Spotless formatting
  app/src/jvmMain/kotlin/com/mshdabiola/kmtemplate/MainApp.kt
  build-logic/convention/src/main/kotlin/CiTaskPlugin.kt
  core/designsystem/src/commonMain/kotlin/com/mshdabiola/designsystem/component/SplashScreen.kt
  core/model/src/commonMain/kotlin/com/mshdabiola/model/BuildConfig.kt
  feature/setting/src/commonMain/kotlin/com/mshdabiola/setting/SettingDetailScreen.kt
  feature/setting/src/commonMain/kotlin/com/mshdabiola/setting/detailscreen/AboutScreen.kt
Due: common, jvm, feature

Refactor: Update version handling in Gradle tasks
  build-logic/convention/src/main/kotlin/com/mshdabiola/app/SetVersionTagTask.kt
  build-logic/convention/src/main/kotlin/com/mshdabiola/app/UpdateBuildVersionsPreReleaseTask.kt
Due: none

Refactor: Update SettingViewModel to use Platform model
  feature/setting/src/commonMain/kotlin/com/mshdabiola/setting/SettingViewModel.kt
Due: feature

Refactor: Remove unused imports and trailing spaces
  build-logic/convention/src/main/kotlin/com/mshdabiola/app/SetVersionTagTask.kt
  build-logic/convention/src/main/kotlin/com/mshdabiola/app/UpdateBuildVersionsPreReleaseTask.kt
  build-logic/convention/src/main/kotlin/com/mshdabiola/app/UpdateBuildVersionsTask.kt
Due: none

Update KmtApp to use BuildConfig for version check
  app/src/commonMain/kotlin/com/mshdabiola/kmtemplate/ui/KmtApp.kt
  app/src/commonMain/kotlin/com/mshdabiola/kmtemplate/ui/KmtScaffold.kt
Due: common

Refactor: Use BRAND_NAME from BuildConfig in MainScreen
  feature/main/src/commonMain/kotlin/com/mshdabiola/main/MainScreen.kt
Due: feature

Refactor: Use Platform specific version in SettingScreen
  feature/setting/src/commonMain/kotlin/com/mshdabiola/setting/SettingState.kt
  feature/setting/src/commonMain/kotlin/com/mshdabiola/setting/navigation/SettingNavigation.kt
  feature/setting/src/jvmTest/kotlin/com/mshdabiola/setting/AboutScreenTest.kt
  feature/setting/src/jvmTest/kotlin/com/mshdabiola/setting/SettingViewModelTest.kt
Due: feature

Refactor: Remove unused test tags from AboutScreenTestTags
  core/model/src/commonMain/kotlin/com/mshdabiola/model/testtag/AboutScreenTestTags.kt
Due: common

Refactor: Remove version management tasks
  build-logic/convention/src/main/kotlin/CiTaskPlugin.kt
  build-logic/convention/src/main/kotlin/com/mshdabiola/app/BumpConveyorRevisionTask.kt
  build-logic/convention/src/main/kotlin/com/mshdabiola/app/SetPreReleaseVersionTag.kt
  build-logic/convention/src/main/kotlin/com/mshdabiola/app/SetVersionFromTagTask.kt
  build-logic/convention/src/main/kotlin/com/mshdabiola/app/Update.kt
  version.txt
Due: none

Update version information and reset revision
  ci.conveyor.conf
  core/model/src/commonMain/kotlin/com/mshdabiola/model/BuildConfig.kt
  gradle/libs.versions.toml
Due: common

Refactor Release and PreRelease workflows
  .github/workflows/PreRelease.yml
  .github/workflows/Release.yml
Due: none

Refactor: Make getPlatform() public and update tests
  app/src/jvmMain/kotlin/com/mshdabiola/kmtemplate/MainApp.kt
  app/src/jvmTest/kotlin/com/mshdabiola/kmtemplate/KmtAppTest.kt
Due: jvm

🤖 Apply Spotless formatting
  app/src/commonMain/kotlin/com/mshdabiola/kmtemplate/ui/KmtApp.kt
  app/src/commonMain/kotlin/com/mshdabiola/kmtemplate/ui/KmtScaffold.kt
  app/src/jvmTest/kotlin/com/mshdabiola/kmtemplate/KmtAppTest.kt
  build-logic/convention/src/main/kotlin/CiTaskPlugin.kt
  feature/main/src/commonMain/kotlin/com/mshdabiola/main/MainScreen.kt
  feature/setting/src/commonMain/kotlin/com/mshdabiola/setting/navigation/SettingNavigation.kt
  feature/setting/src/jvmTest/kotlin/com/mshdabiola/setting/AboutScreenTest.kt
Due: common, feature

Add GitHub Actions workflow to update baseline profile
  .github/workflows/GenerateBaselineProfile2.yml
Due: none

Fix indentation for 'Copy CI gradle.properties' step in workflow
  .github/workflows/GenerateBaselineProfile2.yml
Due: none

Add missing 'runs-on' specification for update-baseline-profile job
  .github/workflows/GenerateBaselineProfile2.yml
Due: none

Add pressHome() call in startActivity() to ensure home screen is active before starting activity
  benchmarks/src/main/kotlin/com/mshdabiola/benchmarks/GeneralActions.kt
Due: benchmarks

Fix: Update license URL and email address, add missing test assertion
  build-logic/convention/src/main/kotlin/com/mshdabiola/app/UpdateBuildVersionsPreReleaseTask.kt
  feature/setting/src/commonMain/kotlin/com/mshdabiola/setting/SettingDetailScreen.kt
  feature/setting/src/jvmTest/kotlin/com/mshdabiola/setting/AboutScreenTest.kt
  spotless/copyright.kt
Due: feature
