Repository mshdabiola/Kmtemplate: changes, and which Codecov flags are due for each by the changed paths.
All: common, jvm, android, wasm, feature, benchmarks

codecov.yml:

coverage:
  precision: 2
  round: down
  range: "60...100"
  status:
    project:
      default:
        target: auto
        threshold: 1%
        paths:
          - "app/"
          - "core/"
          - "feature/"
    patch:
      default:
        target: auto
        threshold: 1%

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: no

flags:
  common:
    paths:
      - app/src/commonMain/
      - core/model/src/
    carryforward: false
  jvm:
    paths:
      - app/src/jvmMain/
    carryforward: false
  android:
    paths:
      - app/src/androidMain/
      - core/data/src/
      - core/database/src/
      - core/datastore/src/
    carryforward: false
  wasm:
    paths:
      - app/src/wasmJsMain/
    carryforward: false
  feature:
    paths:
      - feature/
    carryforward: false
  benchmarks:
    paths:
      - benchmarks/
    carryforward: false

chore: Disable Compose for Desktop targets
  app/build.gradle.kts
Due: none

🤖 Apply Spotless formatting
  core/ui/src/commonMain/kotlin/com/mshdabiola/ui/LocalSharedTransitionLayout.kt
Due: none

🤖 Updates baselines for Dependency Guard
  app/dependencies/fossReliantReleaseRuntimeClasspath.txt
  app/dependencies/googlePlayDebugRuntimeClasspath.txt
Due: none

refactor: Update Navigation3 dependencies and migrate to new APIs
  app/build.gradle.kts
  app/src/commonMain/kotlin/com/mshdabiola/kmtemplate/navigation/KmtAppNavHost.kt
  core/designsystem/build.gradle.kts
  feature/detail/src/commonMain/kotlin/com/mshdabiola/detail/navigation/DetailNavigation.kt
  feature/main/src/commonMain/kotlin/com/mshdabiola/main/navigation/MainNavigation.kt
  feature/setting/src/commonMain/kotlin/com/mshdabiola/setting/navigation/SettingNavigation.kt
  gradle/libs.versions.toml
Due: common, feature

🤖 Apply Spotless formatting
  app/src/commonMain/kotlin/com/mshdabiola/kmtemplate/navigation/KmtAppNavHost.kt
Due: common
