Repository mshdabiola/Kmtemplate: changes, and which Codecov flags are due for each by the changed paths.
All: common, jvm, android, wasm, feature, benchmarks

Deploying to pre-release-web-app from @ mshdabiola/Kmtemplate@9ce8733da4efd567086333039a367f35ad5ecdc3 🚀
  composeResources/kmtemplate.core.designsystem.generated.resources/values/strings.commonMain.cvr
  icons/favicon-114x114.png
  icons/favicon-120x120.png
  icons/favicon-144x144.png
  icons/favicon-150x150.png
  icons/favicon-152x152.png
  icons/favicon-16x16.png
  icons/favicon-180x180.png
  icons/favicon-192x192.png
  icons/favicon-310x310.png
  icons/favicon-32x32.png
  icons/favicon-57x57.png
  icons/favicon-60x60.png
  icons/favicon-70x70.png
  icons/favicon-72x72.png
  icons/favicon-76x76.png
  icons/favicon-96x96.png
  icons/favicon.ico
  icons/favicon.svg
Due: none

Refactor: Enable BuildConfig and comment out usage in KmtApplication
  app/build.gradle.kts
  app/src/androidMain/kotlin/com/mshdabiola/kmtemplate/KmtApplication.kt
Due: android

Refactor: Update Platform model and usage
  app/src/androidMain/kotlin/com/mshdabiola/kmtemplate/KmtApplication.kt
  core/data/src/commonMain/kotlin/com/mshdabiola/data/repository/RealNetworkRepository.kt
  core/data/src/jvmTest/kotlin/com/mshdabiola/data/NetworkRepositoryTest.kt
  core/model/src/commonMain/kotlin/com/mshdabiola/model/Platform.kt
Due: common, android

Refactor: Move CustomNavigationRail to designsystem module
  app/src/androidMain/kotlin/com/mshdabiola/kmtemplate/ui/CustomNavigationRail.android.kt
  app/src/commonMain/kotlin/com/mshdabiola/kmtemplate/ui/KmtScaffold.kt
  app/src/jvmMain/kotlin/com/mshdabiola/kmtemplate/MainApp.kt
  app/src/jvmMain/kotlin/com/mshdabiola/kmtemplate/ui/CustomNavigationRail.jvm.kt
  core/designsystem/src/commonMain/kotlin/com/mshdabiola/designsystem/component/CustomNavigationRail.kt
  core/designsystem/src/nonJsMain/kotlin/com/mshdabiola/designsystem/component/CustomNavigationRail.nonJs.kt
  core/designsystem/src/wasmJsMain/kotlin/com/mshdabiola/designsystem/component/CustomNavigationRail.wasmJs.kt
Due: common, jvm, android

Refactor: Move CustomLogWriter to core:model module
  core/model/src/jvmMain/kotlin/com/mshdabiola/model/CustomLogWriter.kt
Due: common

🤖 Apply Spotless formatting
  core/data/src/jvmTest/kotlin/com/mshdabiola/data/NetworkRepositoryTest.kt
  core/model/src/commonMain/kotlin/com/mshdabiola/model/Platform.kt
Due: common, android

Refactor: Move KmtSnackBar to core:ui module
  app/src/commonMain/kotlin/com/mshdabiola/kmtemplate/ui/KmtApp.kt
  build-logic/convention/src/main/kotlin/KoverConventionPlugin.kt
  core/ui/src/commonMain/kotlin/com/mshdabiola/ui/KmtSnackBar.kt
Due: common

Test: Add tests for KmtSnackBar and enable test tagging
  core/ui/src/commonMain/kotlin/com/mshdabiola/ui/KmtSnackBar.kt
  core/ui/src/jvmTest/kotlin/com/mshdabiola/ui/KmtSnackBarTest.kt
Due: none

Refactor: Update Platform model for Android build types and flavors
  core/model/src/commonMain/kotlin/com/mshdabiola/model/Platform.kt
Due: common

🤖 Apply Spotless formatting
  app/src/commonMain/kotlin/com/mshdabiola/kmtemplate/ui/KmtApp.kt
  build-logic/convention/src/main/kotlin/KoverConventionPlugin.kt
  core/designsystem/src/nonJsMain/kotlin/com/mshdabiola/designsystem/component/CustomNavigationRail.nonJs.kt
  core/designsystem/src/wasmJsMain/kotlin/com/mshdabiola/designsystem/component/CustomNavigationRail.wasmJs.kt
  core/model/src/jvmMain/kotlin/com/mshdabiola/model/CustomLogWriter.kt
  core/ui/src/commonMain/kotlin/com/mshdabiola/ui/KmtSnackBar.kt
  core/ui/src/jvmTest/kotlin/com/mshdabiola/ui/KmtSnackBarTest.kt
Due: common

Refactor: Consolidate KmtSnackBar UI tests
  core/ui/src/jvmTest/kotlin/com/mshdabiola/ui/KmtSnackBarTest.kt
Due: none

🤖 Apply Spotless formatting
  core/model/src/commonMain/kotlin/com/mshdabiola/model/Platform.kt
Due: common

🤖 Apply Spotless formatting
  core/ui/src/jvmTest/kotlin/com/mshdabiola/ui/KmtSnackBarTest.kt
Due: none

Refactor: Adjust padding and spacing in UI elements
  app/src/commonMain/kotlin/com/mshdabiola/kmtemplate/ui/KmtApp.kt
  feature/setting/src/commonMain/kotlin/com/mshdabiola/setting/detailscreen/AboutScreen.kt
  feature/setting/src/commonMain/kotlin/com/mshdabiola/setting/detailscreen/AppearanceScreen.kt
  feature/setting/src/commonMain/kotlin/com/mshdabiola/setting/detailscreen/FaqScreen.kt
  feature/setting/src/commonMain/kotlin/com/mshdabiola/setting/detailscreen/LanguageScreen.kt
  feature/setting/src/commonMain/kotlin/com/mshdabiola/setting/detailscreen/ReportBugScreen.kt
  feature/setting/src/commonMain/kotlin/com/mshdabiola/setting/detailscreen/UpdateScreen.kt
Due: common, feature

Use safeDrawing insets for padding
  app/src/commonMain/kotlin/com/mshdabiola/kmtemplate/ui/KmtApp.kt
  app/src/commonMain/kotlin/com/mshdabiola/kmtemplate/ui/KmtScaffold.kt
Due: common

Refactor: Apply window insets and formatting
  app/src/commonMain/kotlin/com/mshdabiola/kmtemplate/ui/KmtApp.kt
  app/src/commonMain/kotlin/com/mshdabiola/kmtemplate/ui/KmtScaffold.kt
  feature/setting/src/commonMain/kotlin/com/mshdabiola/setting/detailscreen/ReportBugScreen.kt
Due: common, feature

Update screenshot.png
  images/screenshot.png
Due: none

Update Fastlane screenshots for phone and tablet
  fastlane/metadata/android/en-US/images/phoneScreenshots/1.png
  fastlane/metadata/android/en-US/images/phoneScreenshots/2.png
  fastlane/metadata/android/en-US/images/phoneScreenshots/3.png
  fastlane/metadata/android/en-US/images/phoneScreenshots/4.png
  fastlane/metadata/android/en-US/images/phoneScreenshots/5.png
  fastlane/metadata/android/en-US/images/tabletScreenshots/1.png
  fastlane/metadata/android/en-US/images/tabletScreenshots/2.png
  fastlane/metadata/android/en-US/images/tabletScreenshots/3.png
  fastlane/metadata/android/en-US/images/tabletScreenshots/4.png
  fastlane/metadata/android/en-US/images/tabletScreenshots/5.png
Due: none

Update Fastlane metadata for Play Store listing
  fastlane/metadata/android/en-US/full_description.txt
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Refactor F-Droid metadata
  .github/com.mshdabiola.kmtemplate.foss.yml
Due: none

Update README with new screenshots
  README.md
Due: none

PreRelease 1.2.17-alpha05
  ci.conveyor.conf
  core/designsystem/src/commonMain/composeResources/values/strings.xml
  version.txt
Due: none

Update F-Droid metadata
  .github/com.mshdabiola.kmtemplate.foss.yml
Due: none

Release 1.2.17
  CHANGELOG.md
  app/fossReliantRelease-badging.txt
  core/designsystem/src/commonMain/composeResources/values/strings.xml
  gradle/libs.versions.toml
  version.txt
Due: none

feat: Update Release workflow
  .github/workflows/Release.yml
Due: none

Refactor F-Droid build process
  .github/com.mshdabiola.kmtemplate.foss.yml
Due: none

Update version to 1.2.18
  CHANGELOG.md
  core/designsystem/src/commonMain/composeResources/values/strings.xml
  gradle/libs.versions.toml
Due: none

Release 1.2.18
  CHANGELOG.md
  app/fossReliantRelease-badging.txt
  gradle/libs.versions.toml
Due: none

Update release instructions
  instuctions
Due: none

Update libs.versions.toml
  gradle/libs.versions.toml
Due: none

Refactor: Move SplashScreen to designsystem module
  app/src/jvmMain/kotlin/com/mshdabiola/kmtemplate/MainApp.kt
  app/src/jvmTest/kotlin/com/mshdabiola/kmtemplate/KmtAppTest.kt
  app/src/jvmTest/kotlin/com/mshdabiola/kmtemplate/SplashScreenTest.kt
  app/src/wasmJsMain/kotlin/com/mshdabiola/kmtemplate/Main.kt
  build-logic/convention/src/main/kotlin/KoverConventionPlugin.kt
  core/designsystem/src/commonMain/kotlin/com/mshdabiola/designsystem/component/SplashScreen.kt
Due: jvm, wasm

Refactor: Move SplashScreenTestTags to designsystem module
  app/src/jvmTest/kotlin/com/mshdabiola/kmtemplate/KmtAppTest.kt
  core/designsystem/src/commonMain/kotlin/com/mshdabiola/designsystem/component/SplashScreen.kt
  core/designsystem/src/commonMain/kotlin/com/mshdabiola/designsystem/component/SplashScreenTestTags.kt
Due: none

Update Build.yaml to run Codecov and Spotless on failure
  .github/workflows/Build.yaml
Due: none

Path conditions:
  common: any of: app/src/commonMain/, core/model/src/
  jvm: any of: app/src/jvmMain/
  android: any of: app/src/androidMain/, core/data/src/, core/database/src/, core/datastore/src/
  wasm: any of: app/src/wasmJsMain/
  feature: any of: feature/
  benchmarks: any of: benchmarks/
