Repository mshdabiola/Kmtemplate: changes, and which Codecov flags are due for each by the changed paths.
All: common, jvm, android, wasm, feature, benchmarks

Test: Update `ReleaseUpdateDialogTest` assertions
  core/ui/src/jvmTest/kotlin/com/mshdabiola/ui/ReleaseUpdateDialogTest.kt
Due: none

Refactor: Clean up code and fix minor issues
  core/model/src/commonMain/kotlin/com/mshdabiola/model/testtag/ReportBugScreenTestTags.kt
  core/model/src/commonMain/kotlin/com/mshdabiola/model/testtag/UpdateScreenTestTags.kt
  feature/detail/src/commonMain/kotlin/com/mshdabiola/detail/navigation/DetailNavigation.kt
  feature/setting/src/commonMain/kotlin/com/mshdabiola/setting/SettingState.kt
  feature/setting/src/commonMain/kotlin/com/mshdabiola/setting/SettingViewModel.kt
  feature/setting/src/commonMain/kotlin/com/mshdabiola/setting/detailscreen/ReportBugScreen.kt
  feature/setting/src/commonMain/kotlin/com/mshdabiola/setting/navigation/SettingNavigation.kt
  feature/setting/src/jvmTest/kotlin/com/mshdabiola/setting/ReportBugScreenTest.kt
  feature/setting/src/jvmTest/kotlin/com/mshdabiola/setting/SettingViewModelTest.kt
  feature/setting/src/jvmTest/kotlin/com/mshdabiola/setting/UpdateScreenTest.kt
Due: common, feature

Feat: Add localization and improve "Report Bug" screen
  feature/setting/src/commonMain/composeResources/values/strings_settings.xml
  feature/setting/src/commonMain/kotlin/com/mshdabiola/setting/detailscreen/ReportBugScreen.kt
Due: feature

comment out email
  feature/setting/src/jvmTest/kotlin/com/mshdabiola/setting/ReportBugScreenTest.kt
Due: feature

Test: Add UpdateScreenTest
  feature/setting/src/jvmTest/kotlin/com/mshdabiola/setting/UpdateScreenTest.kt
Due: feature

Refactor: Update and reorganize dialog strings for clarity
  core/ui/src/commonMain/composeResources/values-de/strings_ui.xml
  core/ui/src/commonMain/composeResources/values-es/strings_ui.xml
  core/ui/src/commonMain/composeResources/values-fi/strings_ui.xml
  core/ui/src/commonMain/composeResources/values-fr/strings_ui.xml
  core/ui/src/commonMain/composeResources/values-it/strings_ui.xml
  core/ui/src/commonMain/composeResources/values-pl/strings_ui.xml
  core/ui/src/commonMain/composeResources/values-pt/strings_ui.xml
  core/ui/src/commonMain/composeResources/values-ru/strings_ui.xml
  core/ui/src/commonMain/composeResources/values-tr/strings_ui.xml
  core/ui/src/commonMain/composeResources/values-vi/strings_ui.xml
  core/ui/src/commonMain/composeResources/values/strings_ui.xml
Due: none

Refactor: Localize UpdateScreen strings and fix typo
  feature/setting/src/commonMain/composeResources/values-de/strings_settings.xml
  feature/setting/src/commonMain/composeResources/values-es/strings_settings.xml
  feature/setting/src/commonMain/composeResources/values-fi/strings_settings.xml
  feature/setting/src/commonMain/composeResources/values-fr/strings_settings.xml
  feature/setting/src/commonMain/composeResources/values-it/strings_settings.xml
  feature/setting/src/commonMain/composeResources/values-pl/strings_settings.xml
  feature/setting/src/commonMain/composeResources/values-pt/strings_settings.xml
  feature/setting/src/commonMain/composeResources/values-ru/strings_settings.xml
  feature/setting/src/commonMain/composeResources/values-tr/strings_settings.xml
  feature/setting/src/commonMain/composeResources/values-vi/strings_settings.xml
  feature/setting/src/commonMain/composeResources/values/strings_settings.xml
  feature/setting/src/commonMain/kotlin/com/mshdabiola/setting/detailscreen/UpdateScreen.kt
Due: feature

Refactor: Remove `Platform` from `SettingViewModel` and `SettingState`
  feature/setting/src/commonMain/kotlin/com/mshdabiola/setting/SettingState.kt
  feature/setting/src/commonMain/kotlin/com/mshdabiola/setting/SettingViewModel.kt
  feature/setting/src/jvmTest/kotlin/com/mshdabiola/setting/SettingViewModelTest.kt
Due: feature

Test: Add hideUpdateDialog test to SettingViewModelTest
  feature/setting/src/jvmTest/kotlin/com/mshdabiola/setting/SettingViewModelTest.kt
Due: feature

Refactor: Localize delete confirmation in DetailScreen
  feature/detail/src/commonMain/composeResources/values-de/strings_detail.xml
  feature/detail/src/commonMain/composeResources/values-es/strings_detail.xml
  feature/detail/src/commonMain/composeResources/values-fi/strings_detail.xml
  feature/detail/src/commonMain/composeResources/values-fr/strings_detail.xml
  feature/detail/src/commonMain/composeResources/values-it/strings_detail.xml
  feature/detail/src/commonMain/composeResources/values-pl/strings_detail.xml
  feature/detail/src/commonMain/composeResources/values-pt/strings_detail.xml
  feature/detail/src/commonMain/composeResources/values-ru/strings_detail.xml
  feature/detail/src/commonMain/composeResources/values-tr/strings_detail.xml
  feature/detail/src/commonMain/composeResources/values-vi/strings_detail.xml
  feature/detail/src/commonMain/composeResources/values/strings_detail.xml
  feature/detail/src/commonMain/kotlin/com/mshdabiola/detail/navigation/DetailNavigation.kt
Due: feature

Refactor: Add `openUrl` callback to `ReportBugScreen`
  feature/setting/src/commonMain/kotlin/com/mshdabiola/setting/SettingDetailScreen.kt
Due: feature

Refactor: Update ReleaseUpdateDialog and KmtApp
  app/src/commonMain/kotlin/com/mshdabiola/kmtemplate/ui/KmtApp.kt
  core/ui/src/commonMain/kotlin/com/mshdabiola/ui/ReleaseUpdateDialog.kt
Due: common

Feat: Add test tags to UpdateScreen
  core/model/src/commonMain/kotlin/com/mshdabiola/model/testtag/UpdateScreenTestTags.kt
  feature/setting/src/commonMain/kotlin/com/mshdabiola/setting/detailscreen/UpdateScreen.kt
Due: common, feature

Refactor: Use coroutine scope for notifications and update tests
  core/data/src/jvmTest/kotlin/com/mshdabiola/data/UserDataRepositoryTest.kt
  core/datastore/src/jvmTest/kotlin/com/mshdabiola/datastore/RealUserPreferencesRepositoryTest.kt
  feature/detail/src/commonMain/kotlin/com/mshdabiola/detail/navigation/DetailNavigation.kt
  feature/detail/src/jvmTest/kotlin/com/mshdabiola/detail/DetailScreenTest.kt
  feature/setting/src/jvmTest/kotlin/com/mshdabiola/setting/SettingViewModelTest.kt
  feature/setting/src/jvmTest/kotlin/com/mshdabiola/setting/UpdateScreenTest.kt
Due: android, feature

Refactor: Update ReleaseUpdateDialog text and remove fixed height
  core/ui/src/commonMain/kotlin/com/mshdabiola/ui/ReleaseUpdateDialog.kt
Due: none

PreRelease 1.2.7-alpha03
  ci.conveyor.conf
  core/designsystem/src/commonMain/composeResources/values/strings.xml
  version.txt
Due: none

Fix: Correct typos in translations and enable GitHub issue submission
  feature/setting/src/commonMain/composeResources/values-fr/strings_settings.xml
  feature/setting/src/commonMain/composeResources/values-it/strings_settings.xml
  feature/setting/src/commonMain/composeResources/values-pt/strings_settings.xml
  feature/setting/src/commonMain/kotlin/com/mshdabiola/setting/detailscreen/ReportBugScreen.kt
  feature/setting/src/jvmTest/kotlin/com/mshdabiola/setting/ReportBugScreenTest.kt
Due: feature

Refactor: Use CompositionLocal for ExtendedColorScheme
  core/designsystem/src/commonMain/kotlin/com/mshdabiola/designsystem/theme/Theme.kt
Due: none

Enable library binaries for wasmJs
  build-logic/convention/src/main/kotlin/com/mshdabiola/app/KotlinAndroid.kt
Due: none

Refactor: Improve Snackbar and Navigation State Management
  app/src/commonMain/kotlin/com/mshdabiola/kmtemplate/ui/KmtApp.kt
  app/src/commonMain/kotlin/com/mshdabiola/kmtemplate/ui/KmtAppState.kt
  app/src/jvmTest/kotlin/com/mshdabiola/kmtemplate/KmtAppStateTest.kt
Due: common

Refactor: Add `flags: jvm` to CodeCov in Build.yaml
  .github/workflows/Build.yaml
Due: none

Refactor: Move email subject formatting to SettingDetailScreen
  feature/setting/src/commonMain/kotlin/com/mshdabiola/setting/SettingDetailScreen.kt
  feature/setting/src/commonMain/kotlin/com/mshdabiola/setting/detailscreen/ReportBugScreen.kt
Due: feature

feat: Add localization files for multiple languages
  core/data/src/commonMain/composeResources/values-de/strings_data.xml
  core/data/src/commonMain/composeResources/values-es/strings_data.xml
  core/data/src/commonMain/composeResources/values-fi/strings_data.xml
  core/data/src/commonMain/composeResources/values-fr/strings_data.xml
  core/data/src/commonMain/composeResources/values-it/strings_data.xml
  core/data/src/commonMain/composeResources/values-pl/strings_data.xml
  core/data/src/commonMain/composeResources/values-pt/strings_data.xml
  core/data/src/commonMain/composeResources/values-ru/strings_data.xml
  core/data/src/commonMain/composeResources/values-tr/strings_data.xml
  core/data/src/commonMain/composeResources/values-vi/strings_data.xml
Due: android

Refactor: Enhance error handling in update check
  core/data/src/commonMain/kotlin/com/mshdabiola/data/repository/RealNetworkRepository.kt
  core/model/src/commonMain/kotlin/com/mshdabiola/model/ReleaseInfo.kt
  core/model/src/commonMain/kotlin/com/mshdabiola/model/UpdateExpception.kt
Due: common, android

Refactor: Wrap `ReleaseInfo.Error` message in `UpdateException`
  app/src/commonMain/kotlin/com/mshdabiola/kmtemplate/MainAppViewModel.kt
  app/src/jvmTest/kotlin/com/mshdabiola/kmtemplate/MainAppViewModelTest.kt
Due: common

Refactor: Improve error handling and version comparison in `RealNetworkRepository`
  core/data/src/commonMain/kotlin/com/mshdabiola/data/repository/RealNetworkRepository.kt
  core/data/src/jvmTest/kotlin/com/mshdabiola/data/NetworkRepositoryTest.kt
Due: android

Refactor: Wrap error message in UpdateException in FakeNetworkRepository
  core/testing/src/commonMain/kotlin/com/mshdabiola/testing/fake/repository/FakeNetworkRepository.kt
Due: none

Test: Update SettingViewModelTest and ReportBugScreenTest
  feature/setting/src/jvmTest/kotlin/com/mshdabiola/setting/ReportBugScreenTest.kt
  feature/setting/src/jvmTest/kotlin/com/mshdabiola/setting/SettingViewModelTest.kt
Due: feature

Feat: Add localized strings for data errors and handle specific error types in SettingNavigation
  feature/setting/src/commonMain/composeResources/values-de/strings_data.xml
  feature/setting/src/commonMain/composeResources/values-es/strings_data.xml
  feature/setting/src/commonMain/composeResources/values-fi/strings_data.xml
  feature/setting/src/commonMain/composeResources/values-fr/strings_data.xml
  feature/setting/src/commonMain/composeResources/values-it/strings_data.xml
  feature/setting/src/commonMain/composeResources/values-pl/strings_data.xml
  feature/setting/src/commonMain/composeResources/values-pt/strings_data.xml
  feature/setting/src/commonMain/composeResources/values-ru/strings_data.xml
  feature/setting/src/commonMain/composeResources/values-tr/strings_data.xml
  feature/setting/src/commonMain/composeResources/values-vi/strings_data.xml
  feature/setting/src/commonMain/composeResources/values/strings_data.xml
  feature/setting/src/commonMain/kotlin/com/mshdabiola/setting/navigation/SettingNavigation.kt
Due: feature

Refactor: Remove unused localized string files
  core/data/src/commonMain/composeResources/values-de/strings_data.xml
  core/data/src/commonMain/composeResources/values-es/strings_data.xml
  core/data/src/commonMain/composeResources/values-fi/strings_data.xml
  core/data/src/commonMain/composeResources/values-fr/strings_data.xml
  core/data/src/commonMain/composeResources/values-it/strings_data.xml
  core/data/src/commonMain/composeResources/values-pl/strings_data.xml
  core/data/src/commonMain/composeResources/values-pt/strings_data.xml
  core/data/src/commonMain/composeResources/values-ru/strings_data.xml
  core/data/src/commonMain/composeResources/values-tr/strings_data.xml
  core/data/src/commonMain/composeResources/values-vi/strings_data.xml
Due: android

Create DeviceNotSupportedException
  core/data/src/commonMain/kotlin/com/mshdabiola/data/repository/RealNetworkRepository.kt
  core/model/src/commonMain/kotlin/com/mshdabiola/model/UpdateExpception.kt
Due: common, android

Refactor: Update license headers and formatting
  core/data/src/jvmTest/kotlin/com/mshdabiola/data/NetworkRepositoryTest.kt
  core/model/src/commonMain/kotlin/com/mshdabiola/model/UpdateExpception.kt
  feature/setting/src/commonMain/composeResources/values-de/strings_data.xml
  feature/setting/src/commonMain/composeResources/values-es/strings_data.xml
  feature/setting/src/commonMain/composeResources/values-fi/strings_data.xml
  feature/setting/src/commonMain/composeResources/values-fr/strings_data.xml
  feature/setting/src/commonMain/composeResources/values-it/strings_data.xml
  feature/setting/src/commonMain/composeResources/values-pl/strings_data.xml
  feature/setting/src/commonMain/composeResources/values-pt/strings_data.xml
  feature/setting/src/commonMain/composeResources/values-ru/strings_data.xml
  feature/setting/src/commonMain/composeResources/values-tr/strings_data.xml
  feature/setting/src/commonMain/composeResources/values-vi/strings_data.xml
  feature/setting/src/commonMain/composeResources/values/strings_data.xml
  feature/setting/src/commonMain/kotlin/com/mshdabiola/setting/SettingDetailScreen.kt
  feature/setting/src/commonMain/kotlin/com/mshdabiola/setting/detailscreen/ReportBugScreen.kt
  feature/setting/src/commonMain/kotlin/com/mshdabiola/setting/navigation/SettingNavigation.kt
Due: common, android, feature

feat: Comment out jvm flags in Codecov
  .github/workflows/Build.yaml
Due: none

Update favicon and app icon
  app/src/wasmJsMain/resources/icons/favicon-114x114.png
  app/src/wasmJsMain/resources/icons/favicon-120x120.png
  app/src/wasmJsMain/resources/icons/favicon-144x144.png
  app/src/wasmJsMain/resources/icons/favicon-150x150.png
  app/src/wasmJsMain/resources/icons/favicon-152x152.png
  app/src/wasmJsMain/resources/icons/favicon-16x16.png
  app/src/wasmJsMain/resources/icons/favicon-180x180.png
  app/src/wasmJsMain/resources/icons/favicon-192x192.png
  app/src/wasmJsMain/resources/icons/favicon-310x310.png
  app/src/wasmJsMain/resources/icons/favicon-32x32.png
  app/src/wasmJsMain/resources/icons/favicon-57x57.png
  app/src/wasmJsMain/resources/icons/favicon-60x60.png
  app/src/wasmJsMain/resources/icons/favicon-70x70.png
  app/src/wasmJsMain/resources/icons/favicon-72x72.png
  app/src/wasmJsMain/resources/icons/favicon-76x76.png
  app/src/wasmJsMain/resources/icons/favicon-96x96.png
  app/src/wasmJsMain/resources/icons/favicon.ico
  app/src/wasmJsMain/resources/icons/favicon.svg
Due: wasm

Docs: Update favicon.svg with newlines
  app/src/wasmJsMain/resources/icons/favicon.svg
Due: wasm

PreRelease 1.2.17-alpha03
  ci.conveyor.conf
  core/designsystem/src/commonMain/composeResources/values/strings.xml
  version.txt
Due: none

PreRelease 1.2.17-alpha04
  ci.conveyor.conf
  core/designsystem/src/commonMain/composeResources/values/strings.xml
  version.txt
Due: none

Path conditions:
  common: any of: app/src/commonMain/, core/model/src/
  jvm: any of: app/src/jvmMain/
  android: any of: app/src/androidMain/, core/data/src/, core/database/src/, core/datastore/src/
  wasm: any of: app/src/wasmJsMain/
  feature: any of: feature/
  benchmarks: any of: benchmarks/
