Repository mshdabiola/Kmtemplate: changes, and which Codecov flags are due for each by the changed paths.
All: common, jvm, android, wasm, feature, benchmarks

Refactor: Enhance SettingDetailScreenTest and add test tags
  core/model/src/commonMain/kotlin/com/mshdabiola/model/testtag/SettingDetailScreenTestTags.kt
  feature/setting/src/commonMain/kotlin/com/mshdabiola/setting/SettingDetailScreen.kt
  feature/setting/src/jvmTest/kotlin/com/mshdabiola/setting/SettingDetailScreenTest.kt
Due: common, feature

Refactor: Complete SettingDetailScreenTest
  feature/setting/src/jvmTest/kotlin/com/mshdabiola/setting/SettingDetailScreenTest.kt
Due: feature

🤖 Apply Spotless formatting
  feature/setting/src/commonMain/kotlin/com/mshdabiola/setting/SettingDetailScreen.kt
  feature/setting/src/jvmTest/kotlin/com/mshdabiola/setting/SettingDetailScreenTest.kt
Due: feature

Refactor: Simplify email functionality in ReportBugScreen
  feature/setting/src/commonMain/kotlin/com/mshdabiola/setting/SettingDetailScreen.kt
Due: feature

🤖 Apply Spotless formatting
  feature/setting/src/commonMain/kotlin/com/mshdabiola/setting/SettingDetailScreen.kt
Due: feature

Docs: Update app version in badging file
  app/fossReliantRelease-badging.txt
Due: none

Refactor: Update baseline profile generation workflow
  .github/workflows/GenerateBaselineProfile.yml
  .github/workflows/GenerateBaselineProfile2.yml
Due: none

Docs: Update CHANGELOG.md
  CHANGELOG.md
Due: none

PreRelease 1.2.19-alpha01
  app/fossReliantRelease-badging.txt
  ci.conveyor.conf
  core/model/src/commonMain/kotlin/com/mshdabiola/model/BuildConfig.kt
  gradle/libs.versions.toml
Due: common

Refactor: Update release workflow names and steps
  .github/workflows/PreRelease.yml
  .github/workflows/Release.yml
Due: none

Refactor: Use default IME action in DetailScreen content field
  feature/detail/src/commonMain/kotlin/com/mshdabiola/detail/DetailScreen.kt
Due: feature

Refactor: Default to Debug build type
  core/model/src/commonMain/kotlin/com/mshdabiola/model/Platform.kt
Due: common

Refactor: Default to FossReliant flavor
  core/model/src/commonMain/kotlin/com/mshdabiola/model/Platform.kt
Due: common

Refactor: Update benchmark start activity action
  benchmarks/src/main/kotlin/com/mshdabiola/benchmarks/GeneralActions.kt
Due: benchmarks

PreRelease 1.2.19-alpha02
  app/fossReliantRelease-badging.txt
  ci.conveyor.conf
  core/model/src/commonMain/kotlin/com/mshdabiola/model/BuildConfig.kt
  gradle/libs.versions.toml
Due: common

Feat: Update FOSS app version to 1.2.19
  .github/com.mshdabiola.kmtemplate.foss.yml
Due: none

Release 1.2.19
  app/fossReliantRelease-badging.txt
  ci.conveyor.conf
  core/model/src/commonMain/kotlin/com/mshdabiola/model/BuildConfig.kt
  gradle/libs.versions.toml
Due: common

Refactor: Automate CHANGELOG.md updates in SetVersionTagTask
  build-logic/convention/src/main/kotlin/CiTaskPlugin.kt
  build-logic/convention/src/main/kotlin/com/mshdabiola/app/SetVersionTagTask.kt
Due: none

Refactor: Separate changelog update into new task
  build-logic/convention/src/main/kotlin/CiTaskPlugin.kt
  build-logic/convention/src/main/kotlin/com/mshdabiola/app/ReleaseChangeLogTask.kt
  build-logic/convention/src/main/kotlin/com/mshdabiola/app/SetVersionTagTask.kt
Due: none

CI: Update Release.yml
  .github/workflows/Release.yml
Due: none

Docs: Update CHANGELOG.md for version 1.2.19
  CHANGELOG.md
Due: none

Refactor: Remove unused code in build-logic tasks
  build-logic/convention/src/main/kotlin/com/mshdabiola/app/ReleaseChangeLogTask.kt
  build-logic/convention/src/main/kotlin/com/mshdabiola/app/SetVersionTagTask.kt
Due: none

Build: Update dependencies
  core/designsystem/build.gradle.kts
  gradle/libs.versions.toml
Due: none

🤖 Updates baselines for Dependency Guard
  app/dependencies/fossReliantReleaseRuntimeClasspath.txt
  app/dependencies/googlePlayDebugRuntimeClasspath.txt
Due: none

Refactor: Update Gradle configuration
  gradle.properties
  settings.gradle.kts
Due: none

Build: Update Gradle and dependencies
  gradle/libs.versions.toml
  gradle/wrapper/gradle-wrapper.properties
Due: none

Feat: Migrate to Navigation 3
  feature/detail/src/commonMain/kotlin/com/mshdabiola/detail/DetailScreen.kt
  feature/detail/src/commonMain/kotlin/com/mshdabiola/detail/navigation/Detail.kt
  feature/detail/src/commonMain/kotlin/com/mshdabiola/detail/navigation/DetailNavigation.kt
  feature/main/src/commonMain/kotlin/com/mshdabiola/main/navigation/Main.kt
  feature/main/src/commonMain/kotlin/com/mshdabiola/main/navigation/MainNavigation.kt
  feature/setting/src/commonMain/kotlin/com/mshdabiola/setting/navigation/Setting.kt
  feature/setting/src/commonMain/kotlin/com/mshdabiola/setting/navigation/SettingNavigation.kt
Due: feature

Refactor: Migrate to navigation3-ui
  core/designsystem/build.gradle.kts
  core/ui/src/commonMain/kotlin/com/mshdabiola/ui/LocalSharedTransitionLayout.kt
  core/ui/src/commonMain/kotlin/com/mshdabiola/ui/NoteCard.kt
Due: none

Fix: Update project name and configurations
  build-logic/convention/src/main/kotlin/AndroidApplicationFirebaseConventionPlugin.kt
  build-logic/convention/src/main/kotlin/AndroidLibraryComposeConventionPlugin.kt
  build-logic/convention/src/main/kotlin/KoverConventionPlugin.kt
  build-logic/convention/src/main/kotlin/com/mshdabiola/app/AndroidCompose.kt
  build-logic/convention/src/main/kotlin/com/mshdabiola/app/Flavor.kt
  build-logic/convention/src/main/kotlin/com/mshdabiola/app/KotlinAndroid.kt
  build-logic/convention/src/main/kotlin/com/mshdabiola/app/PrependUnreleasedToChangelogTask.kt
  build-logic/convention/src/main/kotlin/com/mshdabiola/app/ReleaseChangeLogTask.kt
  build-logic/convention/src/main/kotlin/com/mshdabiola/app/RenameProjectArtifactsTask.kt
  build-logic/gradle/wrapper/gradle-wrapper.properties
Due: none

Refactor: Migrate from Navigation-Compose to Navigation 3
  app/build.gradle.kts
  app/src/commonMain/kotlin/com/mshdabiola/kmtemplate/navigation/KmtAppNavHost.kt
  app/src/commonMain/kotlin/com/mshdabiola/kmtemplate/ui/KmtAppState.kt
  app/src/commonMain/kotlin/com/mshdabiola/kmtemplate/ui/KmtScaffold.kt
  app/src/commonMain/kotlin/com/mshdabiola/kmtemplate/ui/TopLevelRoute.kt
Due: common

CI: Update Build.yaml workflow
  .github/workflows/Build.yaml
Due: none

Refactor: Remove unused code and reformat files
  app/src/commonMain/kotlin/com/mshdabiola/kmtemplate/navigation/KmtAppNavHost.kt
  app/src/commonMain/kotlin/com/mshdabiola/kmtemplate/ui/KmtAppState.kt
  app/src/commonMain/kotlin/com/mshdabiola/kmtemplate/ui/KmtScaffold.kt
  core/ui/src/commonMain/kotlin/com/mshdabiola/ui/LocalSharedTransitionLayout.kt
  feature/detail/src/commonMain/kotlin/com/mshdabiola/detail/navigation/DetailNavigation.kt
  feature/main/src/commonMain/kotlin/com/mshdabiola/main/navigation/MainNavigation.kt
  feature/setting/src/commonMain/kotlin/com/mshdabiola/setting/navigation/SettingNavigation.kt
Due: common, feature

Test: Refactor and enhance SynAppState tests
  app/src/jvmTest/kotlin/com/mshdabiola/kmtemplate/KmtAppStateTest.kt
Due: none

Refactor: Make `isExpanded` abstract in `KmtAppState`
  app/src/commonMain/kotlin/com/mshdabiola/kmtemplate/ui/KmtAppState.kt
  app/src/jvmTest/kotlin/com/mshdabiola/kmtemplate/KmtAppStateTest.kt
Due: common

Refactor: Rename scaffold test tags
  core/model/src/commonMain/kotlin/com/mshdabiola/model/testtag/KmtScaffoldTestTags.kt
Due: common

Path conditions:
  common: any of: app/src/commonMain/, core/model/src/
  jvm: any of: app/src/jvmMain/
  android: any of: app/src/androidMain/, core/data/src/, core/database/src/, core/datastore/src/
  wasm: any of: app/src/wasmJsMain/
  feature: any of: feature/
  benchmarks: any of: benchmarks/
