Repository mshdabiola/Kmtemplate: changes, and which Codecov flags are due for each by the changed paths.
All: common, jvm, android, wasm, feature, benchmarks

codecov.yml:

coverage:
  precision: 2
  round: down
  range: "60...100"
  status:
    project:
      default:
        target: auto
        threshold: 1%
        paths:
          - "app/"
          - "core/"
          - "feature/"
    patch:
      default:
        target: auto
        threshold: 1%

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: no

flags:
  common:
    paths:
      - app/src/commonMain/
      - core/model/src/
    carryforward: false
  jvm:
    paths:
      - app/src/jvmMain/
    carryforward: false
  android:
    paths:
      - app/src/androidMain/
      - core/data/src/
      - core/database/src/
      - core/datastore/src/
    carryforward: false
  wasm:
    paths:
      - app/src/wasmJsMain/
    carryforward: false
  feature:
    paths:
      - feature/
    carryforward: false
  benchmarks:
    paths:
      - benchmarks/
    carryforward: false

Refactor: Create dedicated plugin for Android library flavors
  build-logic/convention/build.gradle.kts
  build-logic/convention/src/main/kotlin/AndroidLibraryConventionPlugin.kt
  build-logic/convention/src/main/kotlin/AndroidLibraryFlavorsConventionPlugin.kt
  core/analytics/build.gradle.kts
  core/ui/build.gradle.kts
Due: none

Fix: Set JVM target for Android compilations
  build-logic/convention/src/main/kotlin/com/mshdabiola/app/KotlinAndroid.kt
Due: none

Fix: Rename test tags from SynScaffold to KmtScaffold
  app/src/jvmTest/kotlin/com/mshdabiola/kmtemplate/KmtScaffoldScreenTest.kt
  core/model/src/commonMain/kotlin/com/mshdabiola/model/testtag/KmtScaffoldTestTags.kt
Due: common

Fix: Refactor and clean up `KmtAppTest.kt`
  app/src/jvmTest/kotlin/com/mshdabiola/kmtemplate/KmtAppTest.kt
Due: none

Fix: Correct formatting and add license header
  app/src/commonMain/kotlin/com/mshdabiola/kmtemplate/ui/KmtAppState.kt
  app/src/jvmTest/kotlin/com/mshdabiola/kmtemplate/KmtAppTest.kt
  build-logic/convention/src/main/kotlin/AndroidLibraryFlavorsConventionPlugin.kt
Due: common

Refactor: Update application class name in RenameProjectArtifactsTask
  build-logic/convention/src/main/kotlin/com/mshdabiola/app/RenameProjectArtifactsTask.kt
Due: none

Refactor: Centralize flavor configuration
  build-logic/convention/src/main/kotlin/AndroidLibraryConventionPlugin.kt
  core/analytics/build.gradle.kts
  core/ui/build.gradle.kts
Due: none

Refactor: Update repository URL in changelog tasks
  build-logic/convention/src/main/kotlin/com/mshdabiola/app/PrependUnreleasedToChangelogTask.kt
  build-logic/convention/src/main/kotlin/com/mshdabiola/app/ReleaseChangeLogTask.kt
Due: none

Refactor: Update wasmJsMain navigation to use navigation3
  app/src/wasmJsMain/kotlin/com/mshdabiola/kmtemplate/Main.kt
Due: wasm

Refactor: Remove commented-out code
  build-logic/convention/src/main/kotlin/com/mshdabiola/app/RenameProjectArtifactsTask.kt
Due: none

Chore: Update dependencies
  app/dependencies/fossReliantReleaseRuntimeClasspath.txt
  app/dependencies/googlePlayDebugRuntimeClasspath.txt
Due: none

Chore: Update androidx-nav3 dependency
  gradle/libs.versions.toml
Due: none

🤖 Updates baselines for Dependency Guard
  app/dependencies/fossReliantReleaseRuntimeClasspath.txt
  app/dependencies/googlePlayDebugRuntimeClasspath.txt
Due: none

Chore: Update dependencies and clean up settings
  gradle/libs.versions.toml
  settings.gradle.kts
Due: none

CI: Enable `removeFirebaseReferences` step in Build workflow
  .github/workflows/Build.yaml
Due: none

Refactor: Introduce BaseActivity to reduce code duplication
  app/src/androidFossReliant/kotlin/com/mshdabiola/kmtemplate/MainActivity.kt
  app/src/androidGooglePlay/kotlin/com/mshdabiola/kmtemplate/MainActivity.kt
  app/src/androidMain/kotlin/com/mshdabiola/kmtemplate/BaseActivity.kt
Due: android

🤖 Apply Spotless formatting
  app/src/androidFossReliant/kotlin/com/mshdabiola/kmtemplate/MainActivity.kt
  app/src/androidGooglePlay/kotlin/com/mshdabiola/kmtemplate/MainActivity.kt
  app/src/androidMain/kotlin/com/mshdabiola/kmtemplate/BaseActivity.kt
Due: android

Refactor: Clean up Android-specific code
  app/src/androidGooglePlay/kotlin/com/mshdabiola/kmtemplate/MainActivity.kt
  app/src/androidMain/kotlin/com/mshdabiola/kmtemplate/BaseActivity.kt
  gradle/libs.versions.toml
Due: android

Refactor: Update Button, TextField, and TopAppBar components
  core/designsystem/src/commonMain/kotlin/com/mshdabiola/designsystem/component/Background.kt
  core/designsystem/src/commonMain/kotlin/com/mshdabiola/designsystem/component/Button.kt
  core/designsystem/src/commonMain/kotlin/com/mshdabiola/designsystem/component/SplashScreen.kt
  core/designsystem/src/commonMain/kotlin/com/mshdabiola/designsystem/component/Tabs.kt
  core/designsystem/src/commonMain/kotlin/com/mshdabiola/designsystem/component/TextField.kt
  core/designsystem/src/commonMain/kotlin/com/mshdabiola/designsystem/component/TopAppBar.kt
  core/ui/src/commonMain/kotlin/com/mshdabiola/ui/ReleaseUpdateDialog.kt
  feature/detail/src/commonMain/kotlin/com/mshdabiola/detail/DetailScreen.kt
  feature/main/src/commonMain/kotlin/com/mshdabiola/main/MainScreen.kt
  feature/setting/src/commonMain/kotlin/com/mshdabiola/setting/SettingDetailScreen.kt
  feature/setting/src/commonMain/kotlin/com/mshdabiola/setting/SettingListScreen.kt
  feature/setting/src/commonMain/kotlin/com/mshdabiola/setting/detailscreen/AboutScreen.kt
  feature/setting/src/commonMain/kotlin/com/mshdabiola/setting/detailscreen/ReportBugScreen.kt
  feature/setting/src/commonMain/kotlin/com/mshdabiola/setting/detailscreen/UpdateScreen.kt
Due: feature

🤖 Apply Spotless formatting
  core/designsystem/src/commonMain/kotlin/com/mshdabiola/designsystem/component/Background.kt
  core/designsystem/src/commonMain/kotlin/com/mshdabiola/designsystem/component/Button.kt
  core/ui/src/commonMain/kotlin/com/mshdabiola/ui/ReleaseUpdateDialog.kt
  feature/detail/src/commonMain/kotlin/com/mshdabiola/detail/DetailScreen.kt
  feature/main/src/commonMain/kotlin/com/mshdabiola/main/MainScreen.kt
  feature/setting/src/commonMain/kotlin/com/mshdabiola/setting/SettingDetailScreen.kt
  feature/setting/src/commonMain/kotlin/com/mshdabiola/setting/detailscreen/AboutScreen.kt
  feature/setting/src/commonMain/kotlin/com/mshdabiola/setting/detailscreen/ReportBugScreen.kt
  feature/setting/src/commonMain/kotlin/com/mshdabiola/setting/detailscreen/UpdateScreen.kt
Due: feature

Add Foojay Toolchains Resolver Gradle plugin
  settings.gradle.kts
Due: none

feat: Update lifecycle and navigation dependencies
  app/build.gradle.kts
  app/src/commonMain/kotlin/com/mshdabiola/kmtemplate/navigation/KmtAppNavHost.kt
  core/designsystem/build.gradle.kts
  feature/detail/src/commonMain/kotlin/com/mshdabiola/detail/navigation/DetailNavigation.kt
  feature/main/src/commonMain/kotlin/com/mshdabiola/main/navigation/MainNavigation.kt
  feature/setting/src/commonMain/kotlin/com/mshdabiola/setting/navigation/SettingNavigation.kt
  gradle/libs.versions.toml
Due: common, feature

Revert "Update androidxComposeMaterial3Adaptive to v1.2.0"
  app/dependencies/fossReliantReleaseRuntimeClasspath.txt
  app/dependencies/googlePlayDebugRuntimeClasspath.txt
  gradle/libs.versions.toml
Due: none

Update stefanzweifel/git-auto-commit-action to v5
  .github/workflows/Build.yaml
Due: none

Refactor: Comment out unused compileOptions
  build-logic/convention/src/main/kotlin/com/mshdabiola/app/KotlinAndroid.kt
Due: none

Refactor: Migrate from Material3 Expressive to stable APIs
  app/src/commonMain/kotlin/com/mshdabiola/kmtemplate/ui/KmtApp.kt
  app/src/commonMain/kotlin/com/mshdabiola/kmtemplate/ui/KmtAppState.kt
  app/src/commonMain/kotlin/com/mshdabiola/kmtemplate/ui/KmtScaffold.kt
  app/src/jvmTest/kotlin/com/mshdabiola/kmtemplate/KmtAppStateTest.kt
  app/src/jvmTest/kotlin/com/mshdabiola/kmtemplate/KmtAppTest.kt
  app/src/jvmTest/kotlin/com/mshdabiola/kmtemplate/KmtScaffoldScreenTest.kt
  app/src/wasmJsMain/kotlin/com/mshdabiola/kmtemplate/Main.kt
  core/designsystem/src/commonMain/kotlin/com/mshdabiola/designsystem/component/Button.kt
  core/designsystem/src/commonMain/kotlin/com/mshdabiola/designsystem/component/Loading.kt
  core/designsystem/src/commonMain/kotlin/com/mshdabiola/designsystem/component/TopAppBar.kt
  core/designsystem/src/nonJsMain/kotlin/com/mshdabiola/designsystem/component/CustomNavigationRail.nonJs.kt
  core/ui/src/commonMain/kotlin/com/mshdabiola/ui/ReleaseUpdateDialog.kt
  feature/setting/src/commonMain/kotlin/com/mshdabiola/setting/detailscreen/ReportBugScreen.kt
  gradle/libs.versions.toml
Due: common, wasm, feature

🤖 Apply Spotless formatting
  app/src/commonMain/kotlin/com/mshdabiola/kmtemplate/ui/KmtApp.kt
  app/src/commonMain/kotlin/com/mshdabiola/kmtemplate/ui/KmtAppState.kt
  app/src/commonMain/kotlin/com/mshdabiola/kmtemplate/ui/KmtScaffold.kt
  app/src/jvmTest/kotlin/com/mshdabiola/kmtemplate/KmtAppStateTest.kt
  app/src/jvmTest/kotlin/com/mshdabiola/kmtemplate/KmtAppTest.kt
  app/src/jvmTest/kotlin/com/mshdabiola/kmtemplate/KmtScaffoldScreenTest.kt
  app/src/wasmJsMain/kotlin/com/mshdabiola/kmtemplate/Main.kt
Due: common, wasm

Update org.jetbrains.compose dependencies to v1.10.0-rc02
  core/designsystem/build.gradle.kts
Due: none

Migrate to `androidx.compose.ui.tooling.preview`
  app/src/commonMain/kotlin/com/mshdabiola/kmtemplate/ui/KmtScaffold.kt
  core/designsystem/src/commonMain/kotlin/com/mshdabiola/designsystem/component/Background.kt
  core/designsystem/src/commonMain/kotlin/com/mshdabiola/designsystem/component/Loading.kt
  core/designsystem/src/commonMain/kotlin/com/mshdabiola/designsystem/component/SplashScreen.kt
  core/designsystem/src/commonMain/kotlin/com/mshdabiola/designsystem/component/TopAppBar.kt
  core/ui/src/commonMain/kotlin/com/mshdabiola/ui/KmtSnackBar.kt
  core/ui/src/commonMain/kotlin/com/mshdabiola/ui/NoteCard.kt
  core/ui/src/commonMain/kotlin/com/mshdabiola/ui/ReleaseUpdateDialog.kt
  feature/setting/src/commonMain/kotlin/com/mshdabiola/setting/SettingScreen.kt
  feature/setting/src/commonMain/kotlin/com/mshdabiola/setting/detailscreen/AboutScreen.kt
  feature/setting/src/commonMain/kotlin/com/mshdabiola/setting/detailscreen/AppearanceScreen.kt
  feature/setting/src/commonMain/kotlin/com/mshdabiola/setting/detailscreen/FaqScreen.kt
  feature/setting/src/commonMain/kotlin/com/mshdabiola/setting/detailscreen/LanguageScreen.kt
  feature/setting/src/commonMain/kotlin/com/mshdabiola/setting/detailscreen/ReportBugScreen.kt
  feature/setting/src/commonMain/kotlin/com/mshdabiola/setting/detailscreen/UpdateScreen.kt
Due: common, feature

🤖 Apply Spotless formatting
  app/src/commonMain/kotlin/com/mshdabiola/kmtemplate/ui/KmtScaffold.kt
  core/designsystem/src/commonMain/kotlin/com/mshdabiola/designsystem/component/Loading.kt
  core/designsystem/src/commonMain/kotlin/com/mshdabiola/designsystem/component/SplashScreen.kt
  core/designsystem/src/commonMain/kotlin/com/mshdabiola/designsystem/component/TopAppBar.kt
  core/ui/src/commonMain/kotlin/com/mshdabiola/ui/KmtSnackBar.kt
  core/ui/src/commonMain/kotlin/com/mshdabiola/ui/NoteCard.kt
  core/ui/src/commonMain/kotlin/com/mshdabiola/ui/ReleaseUpdateDialog.kt
  feature/setting/src/commonMain/kotlin/com/mshdabiola/setting/SettingScreen.kt
  feature/setting/src/commonMain/kotlin/com/mshdabiola/setting/detailscreen/AboutScreen.kt
  feature/setting/src/commonMain/kotlin/com/mshdabiola/setting/detailscreen/AppearanceScreen.kt
  feature/setting/src/commonMain/kotlin/com/mshdabiola/setting/detailscreen/FaqScreen.kt
  feature/setting/src/commonMain/kotlin/com/mshdabiola/setting/detailscreen/LanguageScreen.kt
  feature/setting/src/commonMain/kotlin/com/mshdabiola/setting/detailscreen/ReportBugScreen.kt
  feature/setting/src/commonMain/kotlin/com/mshdabiola/setting/detailscreen/UpdateScreen.kt
Due: common, feature

Refactor: Centralize compose dependencies with version catalog
  app/build.gradle.kts
  core/designsystem/build.gradle.kts
  feature/detail/build.gradle.kts
  feature/setting/build.gradle.kts
  gradle/libs.versions.toml
Due: feature

feat: Enable Compose for Desktop targets
  app/build.gradle.kts
  settings.gradle.kts
Due: none

Fix: Downgrade Spotless to 7.2.1
  gradle/libs.versions.toml
Due: none

🤖 Apply Spotless formatting
  core/designsystem/src/commonMain/kotlin/com/mshdabiola/designsystem/component/Button.kt
  core/designsystem/src/commonMain/kotlin/com/mshdabiola/designsystem/component/TopAppBar.kt
Due: none

chore: Remove unused `ExperimentalMaterial3ExpressiveApi` opt-in
  app/src/jvmTest/kotlin/com/mshdabiola/kmtemplate/KmtAppStateTest.kt
Due: none

Fix: Pass modifier to Button in `ArtButton`
  core/designsystem/src/commonMain/kotlin/com/mshdabiola/designsystem/component/Button.kt
Due: none

Refactor: Nest `SharedTransitionLayout` inside `AnimatedContent`
  core/ui/src/commonMain/kotlin/com/mshdabiola/ui/LocalSharedTransitionLayout.kt
Due: none
